<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Zerodha - Bhavcopy Analysis">
      <meta name="author" content="Jay Jayswal">
      <title>Stocks</title>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/pagination.css" >
   </head>
   <body>

      <div class="container" ng-app="web-app" ng-controller="form-controller"  ng-init="setupApp();" style="margin-top:30px">
         <div class="row" style="position:absolute; left:29px;">
             <h3>Top 10 Stocks</h3>
             <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
                <th scope="col">% Change</th>
            </tr>
          </thead>
           <tbody>
           <tr ng-repeat="row in top_stocks">
               <td>{{ row.code }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.open }}</td>
                <td>{{ row.high }}</td>
                <td>{{ row.low }}</td>
                <td>{{ row.close }}</td>
                <td>{{ row.percentage }}</td>
                 </tr>
                 <tr data-ng-if="top_stocks.length == 0" >
                     <td colspan="7">No data found</td>
                 </tr>
                  </tbody>
               </table>
               <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="paginations"></ul>
               </div>
               <br/> <br/>
             </div>
            </div>
             <div class="row" style="position: absolute; left: 923px;">
               <h2>Search</h2>
               <br/>
               <div class="input-group mb-3">
                  <input type="text" ng-keypress="checkEnter($event)" data-ng-model="search_text" class="form-control" placeholder="Stock name" aria-describedby="button-addon2">
                  <div class="input-group-append">
                     <button data-ng-click="getStockByName()" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                  </div>
               </div>
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">% Change</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="row in search_stocks">
                        <td>{{ row.code }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.open }}</td>
                        <td>{{ row.high }}</td>
                        <td>{{ row.low }}</td>
                        <td>{{ row.close }}</td>
                        <td>{{ row.percentage }}</td>
                     </tr>
                     <tr data-ng-if="search_stocks.length == 0" >
                        <td colspan="7">No data found</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <br/><br/>
      <script src="/static/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="/static/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="/static/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="/static/js/angular.min.js" ></script>
      <script src="/static/js/pagination.min.js" ></script>
      <script>
         $("document").ready(function(){
         });
      </script>
      <script src="/static/js/app.js"></script>
   </body>
</html>
